@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&family=Roboto:ital,wght@0,100;1,300&display=swap');

body,html{
    margin: 0;
    border-style: hidden;
    color: #42515F;
    font-family: 'Roboto', sans-serif;
    background-color: gray;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    /* opacity: 1; */
    overflow-x: hidden;
}
.mainContainer{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #f7f7f7 0% 0% no-repeat padding-box;
    opacity: 1;
}
.topbar{
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 0px 0px 20px;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.topbar img{
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 8%;
    opacity: 1;
}
.topbar h3{
    float: left;
    margin: 0px 0px 0px 5px;
    width: 0px;
    font: bolder 22px/25px Roboto;
    letter-spacing: 0px;
    text-transform: capitalize;
    opacity: 1;
}
.container{
    width: 100%;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    opacity: 1;
    display: flex;
    background-color: #eee;
    justify-content: center;
    align-items: center;
}
.form-container h1{
    font: normal normal bold 28px/37px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
    opacity: 1;
    font-family: system-ui;
}
.form-container{
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    width: 70%;
    box-shadow: 0px 3px 6px #00000029;
}
.field-box{
    width:100%;
display: flex;
padding: 20px;
}
.field-label{
    width: 15%;
    font: normal normal bold 18px/24px Roboto;
letter-spacing: 0px;
color: #42515F;
opacity: 1;
}
.field-input{
    width: 85%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    
    opacity: 1;
}
.date-input{
    width: 80%;
    display:inline-flex;
}
.btn-inputs{
    width: 80%;
}
/* .field-input input{
    width: 100%;
} */
.reset {
    float:right;
    color: #42515F;
    margin: 0 0.5em 0.5em;
    padding: 0.7em 0.9em;
    border: none;
    max-width: 100px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    border-radius: 5px;
}
.submit{
    float:right;
    color: #42515F;
    margin: 0 0 0.5em;
    padding: 0.7em 0.9em;
    border: none;
    max-width: 100px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    border-radius: 5px;
}
.cancel{
    float:left;
    color: #42515F;
    margin: 0 0 0.5em;
    padding: 0.7em 0.9em;
    border: none;
    max-width: 100px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    border-radius: 5px;
}
.user-input{
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    text-align: left;
    font: normal normal bold 18px/24px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    padding: 15px 15px 15px 15px;
    flex-direction: column;
    border-radius: 5px;
    width: 85%;
    text-align: justify;
    margin: 0px 10px 0px 10px;
}
.user-input#department1,.user-input#department2,.user-input#department3,.user-input#department4,.user-input#department5{
    width: 20px;
    display:inline-flex;
}
.empImg{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 20px
}
span{
    margin-right: 20px;
}
#form-row{
    flex-direction: column;
    top: 175px;
left: 546px;
width: 290px;
height: 37px;
text-align: left;
/* font: normal normal bold 28px/37px Roboto; */
letter-spacing: 0px;
color: #42515F;
text-transform: capitalize;
opacity: 1;
}
input#gender {
    width: 20px;
}
input#profileImg {
    width: 20px;
}
input#department {
    width: 20px;
}
input[type=radio][name=profileImg] {
    border: 0px;
    width: auto;
    vertical-align: super;
    height: 1em;
    background: #DEDEDE 0% 0% no-repeat padding-box;
    border: 1px solid #B4B4B4;
    opacity: 1;
}
input[type=radio][name=gender] {
    border: 0px;
    width: 100px;
    vertical-align: middle;
    height: 1em;
    background: #DEDEDE 0% 0% no-repeat padding-box;
    border: 1px solid #B4B4B4;
    opacity: 1;
}
input[type=checkbox][name=department] {
    border: 0px;
    width: 100px;
    vertical-align: middle;
    height: 1em;
    background: #DEDEDE 0% 0% no-repeat padding-box;
    border: 1px solid #B4B4B4;
    opacity: 1;
}
.checkbox-round {
    width: 20px;
    height: 20px;
    height: -5.7em;
    background-color: white;
    border-radius: 14px;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: gray;
}
@media (min-width: 768px) and (max-width: 1024px){
    .cancel{
        margin-left: 0px;
    }
    .form-container{
        width: 85%;
        padding: 44px 20px;
    }
    .profile-radio-content{
        flex-flow: wrap;
    }
}
@media (max-width: 480px){
    .reset {
        color: #333;
        margin: 0 0.5em 0.5em;
        padding: 0.7em 0.9em;
        border: none;
        max-width: 100px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        cursor: pointer;
        border-radius: 5px;
    }
    .submit{
        color: #333;
        margin: 0 0 0.5em;
        padding: 0.7em 0.9em;
        border: none;
        max-width: 100px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        cursor: pointer;
        border-radius: 5px;
    }
    .cancel{
        color: #333;
        margin: 0 0 0.5em;
        padding: 0.7em 0.9em;
        border: none;
        max-width: 100px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        cursor: pointer;
        border-radius: 5px;
    }
    .user-input{
        background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #BDBDBD;
border-radius: 3px;
opacity: 1;
        color: #42515F;
        opacity: 1;
        width: 73%;
        padding: 0px;
        flex-direction: column;
        border-radius: 5px;
        text-decoration: indigo;
        text-align: justify;
        margin: 0px 10px 0px 10px;
    }
    .field-box {
        width: 100%;
        display: flow-root;
        padding: 20px;
    }
    .field-label{
        width: 20%;
        text-align: left;
font: normal bolder 18px/24px Roboto;
letter-spacing: 0px;
color: #42515F;
opacity: 1;
    }
    .user-input#department1, .user-input#department2, .user-input#department3, .user-input#department4, .user-input#department5 {
        width: 24%;
    display: inline-flex;

    }
    .empImg {
        margin: 0px 0px 0px 0px;
        width: 50px;
        border-radius: 50px;
}
@media (min-width: 481px) and (max-width: 767px){
    .form-container{
        margin-top: 10px;
    }
    .user-input#department1, .user-input#department2, .user-input#department3, .user-input#department4, .user-input#department5 {
        width: 10%;
    display:inline-flex;
    }
}
}
    /*  Display Employee Details       */
.emp-container{
    padding: 20px;
    width: 80%;
    height: 70px;
    display: flex;
}
.empTitle{
    width: 80%;display: inline-flex;
}
.search-add-user{
    width: 20%;
    display: flex;
}
.empTitle h1{
    font: normal normal bold 28px/37px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
    font-family: system-ui;
    opacity: 1;
}
.search-add-user i{
    font-size: 18px;
}
.btn-icon{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 28px;
    opacity: 1;
    margin: 20px 0px 0px 0px;
    width: 55%;
    border: 1px saddlebrown;
    height: 40px;
    
}
.fa-plus:before {
    content: "\f067";
    padding-right: 8px;
}
.btn-add-user{
    color: #f7f7f7;
    border: 1px saddlebrown;
    text-align: center;
    width: 100%;
    margin: 20px;
    height: 35px;
    background: #82A70C 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.empDetails{
    width: 80%;
    height: 100%;
    display: grid;
}
.emp-heading{
    /* color: #fff;
    background: #42515F 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    opacity: 1; */
}
.edit-delete-user {
    font-size: 18px;
}
.btn-delete{
    border: 1px saddlebrown;
    /* background: #658292 0% 0% no-repeat padding-box;
opacity: 1; */
}
.btn-edit {
    border: 1px saddlebrown;
    /* background: #658292 0% 0% no-repeat padding-box;
opacity: 1; */
}
.emp-data{
    opacity: 1;
    width: 90%;
    display: table-row;
    height: 100%;
    text-align: center;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
    size:16px 
}
.emp-row{
    text-align: left;
}
.emp-row img{
opacity: 1;
width: 40px;border-radius: 50px;
vertical-align: middle;
height: 40px;
margin-right: 5px;
}
table, th, td {

    
    border-collapse: collapse;
    
    }
    
    th, td {
    
    padding: 10px;
    
    }
    
    th {
    
    background-color: #42515F;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
text-align: left;
text-transform: uppercase;
opacity: 1;
    
    }
    
    td {
    
    background-color: #fff;
font: normal bolder 16px/21px Roboto;
letter-spacing: 0px;
border-bottom: 1px solid #BDBDBD;
color: #3D3D3D;
opacity: 1;
height: 21px;
    
    }
    .dept-btn{
        background: #E9FEA5 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 28px;
    opacity: 1;
    width: 57px;
    border: 1px saddlebrown;
    height: 26px;
    }
    i.fa.fa-trash-o {
        color: #658292;
    }

    i.fa.fa-pencil {
        color: #658292;
        margin-left: 10px;
    }
    .field-box small {
        color: var(--error-color);
        position: absolute;
        bottom: 48%;
        left: 25%;
        visibility: hidden;
    }
    
    .field-box.error small{
        visibility: visible;
    }
    .field-input.error small {
        visibility: visible;
    }
    .field-input.error input {
      border-color: var(--error-color);
    }
    .field-input.success input {
      border-color: var(--success-color);
    }
    .error {
        color: red;
        font-size: 14.5px;
        margin-top: 5px;
      }